* {
    box-sizing: border-box
}

body,
html {
    font-size: 10px;
    font-family: Avenir, sans-serif;
    margin: 0;
    overflow-x: hidden
}

.animation-container:after,
.group:after,
.wrapper .header:after {
    content: "";
    display: table;
    clear: both
}

.wrapper {
    position: relative;
    width: 310px;
    height: 420px;
    background: #043379;
    background-size: cover;
    overflow: hidden
}

.wrapper .header {
    padding: 9px 18px
}

.wrapper .header .menu-but {
    display: block;
    float: left;
    height: 28px;
    width: 28px;
    opacity: .5
}

.wrapper .header .menu-but.menu-button {
    background: url(img/menu.svg?d8f6bf35b043f7553adcacba57e9ae66) no-repeat 50%
}

.wrapper .header .menu-but.menu-button.open {
    background: url(img/close.svg?95b76103b2b6ebe12d18a6ecf9494b8f) no-repeat 50%
}

.wrapper .header .menu-but.wr-button {
    text-align: left;
    float: right;
    height: 30px;
    width: 30px
}

.wrapper .menu-container {
    width: 50%;
    float: left
}

.wrapper .menu-container>a:last-of-type>.image-container {
    margin-bottom: 0
}

.wrapper .menu-container.left {
    padding-left: 15px
}

.wrapper .menu-container.right {
    padding-right: 15px
}

.wrapper .menu-container.center {
    width: auto;
    float: none
}

.wrapper .menu-container p {
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center
}

.wrapper .menu-container a {
    text-decoration: none
}

.wrapper .menu-container a .image-container {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 11px;
    background: #15b5eb;
    transition: all .5s
}

.wrapper .menu-container a .image-container:hover {
    background: rgba(0, 0, 0, .4)
}

.wrapper .menu-container a .image-container img {
    max-width: 60%
}

.wrapper .menu-container+.brown-link {
    text-decoration: none;
    text-align: center;
    display: block
}

.wrapper .menu-container+.brown-link h1 {
    text-decoration: underline;
    line-height: 20px
}

.wrapper .menu-container+.brown-link span {
    font-size: 11px
}

.wrapper .content {
    height: 420px;
    overflow-y: auto;
    padding: 0 18px;
    position: relative;
}

.wrapper .content .result-form .text-container {
    padding: 0;
    text-align: center
}

.wrapper .content .canvas-container {
    height: 200px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 240px;
    margin: 30px auto 0 auto;
}

.wrapper .content .canvas-container h1 {
    color: #fff;
}

.wrapper .content .canvas-container img {
    max-width: 100px;
}

.wrapper .content .canvas-container #canvas {
    min-height: 201px
}

.wrapper .content .main-title {
    font: 300 2.2rem/1.2 Avenir, sans-serif;
    font-size: 2.2rem;
    text-align: center;
    color: #fff;
    opacity: .7;
    margin: 0 0 5px
}

.wrapper .content .sub-title {
    text-align: center;
    font: 300 1.8rem/1.2 Avenir, sans-serif;
    font-size: 1.8rem;
    color: #b4975a;
    margin-bottom: 15px;
    text-transform: uppercase
}

.wrapper .content .sub-title.getting-help {
    margin-bottom: 0;
    text-transform: uppercase
}

.wrapper .content .sub-title.getting-out,
.wrapper .content .sub-title.making-plan {
    text-transform: uppercase
}

.wrapper .content p {
    font: 300 1.2rem/1.5 Avenir, sans-serif;
    font-size: 1.2rem;
    color: #fff
}

.wrapper .content .image-container {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 100%;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    line-height: 100px
}

.wrapper .content .image-container.getting-help,
.wrapper .content .image-container.getting-out,
.wrapper .content .image-container.making-plan,
.wrapper .content .image-container.safe-online {
    margin-bottom: 10px
}

.wrapper .content .image-container.getting-help img {
    max-width: 50%;
    width: 50%
}

.wrapper .content .image-container img {
    vertical-align: middle;
    width: 60%;
}

.wrapper .content .image-container img.reach-out img {
    max-width: 50%;
    width: 50%;
}

.wrapper .content .image-container img.emergency img {
    max-width: 50%;
    width: 50%;
}

.wrapper .content .image-container.get-help {
    position: relative
}

.wrapper .content .image-container.get-help img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .content .image-container img.safe-online {
    width: 45%;
    max-width: 45%
}

.wrapper .content .image-container img.getting-out,
.wrapper .content .image-container img.making-plan {
    width: 35%
}

.wrapper .content .form-container {
    padding: 0 20px
}

.wrapper .content .form-container form {
    font-size: 1.4rem;
    position: relative;
    padding-bottom: 15px
}

.wrapper .content .form-container form a {
    color: #fff
}

.wrapper .content .form-container input,
.wrapper .content .form-container textarea {
    width: 100%;
    margin-bottom: 10px;
    background: hsla(0, 0%, 100%, .1);
    border: none;
    padding: 8px 13px;
    border-radius: 5px;
    color: hsla(0, 0%, 100%, .7);
    font: 1.4rem/1.5 Avenir, sans-serif;
    font-size: 1.4rem;
    box-shadow: inset 3px 3px 2px 0 rgba(0, 0, 0, .2)
}

.wrapper .content .form-container input::-webkit-input-placeholder,
.wrapper .content .form-container textarea::-webkit-input-placeholder {
    color: hsla(0, 0%, 100%, .7)
}

.wrapper .content .form-container input:-moz-placeholder,
.wrapper .content .form-container input::-moz-placeholder,
.wrapper .content .form-container textarea:-moz-placeholder,
.wrapper .content .form-container textarea::-moz-placeholder {
    color: hsla(0, 0%, 100%, .7)
}

.wrapper .content .form-container input:-ms-input-placeholder,
.wrapper .content .form-container textarea:-ms-input-placeholder {
    color: hsla(0, 0%, 100%, .7)
}

.wrapper .content .form-container input[type=submit],
.wrapper .content .form-container textarea[type=submit] {
    background: rgba(0, 0, 0, .46);
    font: 1.4rem/1 Avenir, sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, .2);
    transition: all .5s;
    margin-bottom: 20px
}

.wrapper .content .form-container input[type=submit]:hover,
.wrapper .content .form-container textarea[type=submit]:hover {
    background: hsla(0, 0%, 100%, .1)
}

.wrapper .content .form-container textarea {
    height: 50px;
    resize: none;
    overflow-y: auto;
    font-size: inherit;
    font-family: inherit
}

.wrapper .content .text-container {
    color: #fff;
    padding: 0 20px 20px;
    font: 1.4rem/1.5 Avenir, sans-serif;
    font-size: 1.4rem
}

.wrapper .content .text-container table tr td {
    vertical-align: top
}

.wrapper .content .text-container .scaled {
    font: 300 1.8rem/1.3 Avenir, sans-serif;
    font-size: 1.8rem;
    margin: 35px 0 10px
}

.wrapper .content .text-container a {
    color: #fff
}

.wrapper .privacy {
    position: absolute;
    top: 347px;
    left: 115px;
    color: #b4975a;
    font-size: 1.2rem
}

.wrapper .brown-link {
    color: #b4975a
}

.wrapper .brown-link .sub-title {
    margin: 0;
    font-size: 1.2rem
}

.wrapper .brown-link .sub-title span {
    font-size: 1rem
}

ol {
    counter-reset: li;
    padding: 0;
    list-style: none;
    margin: 0 3rem 0 6rem
}

ol li {
    position: relative;
    font: 300 1.4rem/1.5 Avenir, sans-serif;
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 15px
}

ol li:before {
    font-size: 1rem;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -3rem;
    width: 2rem;
    height: 2rem;
    line-height: 22px;
    color: #fff;
    border-radius: 100%;
    background: rgba(0, 0, 0, .4);
    text-align: center
}

.animation-container {
    width: 100%;
    height: 120px;
    margin: 10px auto auto auto;
}

.animation-container .slide {
    width: 100%;
    height: 100%
}

.animation-container .slide .entrance p {
    text-align: center;
    margin: 0 0 25px;
    font: 300 1.4rem/1.5 Avenir, sans-serif;
    font-size: 1.3rem
}

.animation-container .slide .enter {
    background: hsla(0, 0%, 100%, .1);
    margin-top: 8px;
    color: #fff;
    text-align: center;
    font: 400 1.4rem Avenir, sans-serif;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 0;
    transition: all .1s
}

.animation-container .slide .enter:hover {
    background: rgba(0, 0, 0, .4)
}

.dash-list {
    padding-left: 20px
}

.dash-list li {
    position: relative
}

.fade-in {
    -webkit-animation: fadein 1.5s linear;
    animation: fadein 1.5s linear
}

@keyframes fadein {
    0% {
        opacity: 0;
        display: none
    }
    80% {
        display: block;
        opacity: 0
    }
    to {
        opacity: 1;
        display: block
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        display: none
    }
    80% {
        display: block;
        opacity: 0
    }
    to {
        opacity: 1;
        display: block
    }
}

a,
img,
input,
textarea {
    outline: none!important
}

a,
img {
    border: none!important
}

img {
    max-width: 100%
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
    border: 1px solid #ff9e9b!important
}

.help-block {
    color: #ff9e9b!important;
    margin: -10px 0 3px 5px
}

.indented-text {
    text-indent: 34px
}

.hidden {
    display: none!important
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@media (max-device-width:900px) {
    .content {
        transition: all .5s
    }
    .content.focus .form-container>p,
    .content.focus .image-container,
    .content.focus h1 {
        display: none
    }
}

u {
    cursor: pointer
}

.spinner {
    position: fixed;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    max-width: 310px;
    max-height: 420px;
    line-height: 420px;
    background: rgba(0, 0, 0, .5)
}

.spinner img {
    width: 50%;
    margin-left: 25%;
    vertical-align: middle
}

#livechat-embed {
    width: 100%;
    height: 370px;
    margin: -20px 0 0
}

#livechat-embed iframe {
    width: 100%;
    height: 100%;
    border: 0
}

.title {
    color: #043379;
    text-align: center;
}

.title p {
    color: #043379 !important;
    font-weight: 600 !important;
    margin-bottom: 30px;
}

.content h3,
.title h3 {
    font-size: 30px;
}

#plan,
#help,
#support,
#menu {
    border: 1px solid #c3c3c3;
    height: 420px;
    background-color: #fff;
}

#menu p {
    color: #043379 !important;
}

.contact-list {
    text-align: center;
}

.contact-list h4 {
    font-size: 15px;
    margin-bottom: 5px;
}

.contact-list p {
    color: #071120 !important;
    margin: 0;
}

.contact-list a {
    color: #071120 !important;
}

#support-content {
    margin: 0 0 30px 0;
    color: #071120 !important;
}

#plan .title,
#help .title,
#support .title {
    color: #071120;
    text-align: center;
}

#plan .title p,
#help .form-container p,
#support .title p {
    color: #071120 !important;
}

p#show-border {
    margin: 10px 0;
}

div.top:before {
    background-color: #000;
    content: '';
    display: block;
    left: 20%;
    height: 2px;
    position: relative;
    width: 60%;
    margin: 15px 0 0 0;
}

div.bottom:before {
    background-color: #000;
    content: '';
    display: block;
    left: 20%;
    height: 2px;
    position: relative;
    width: 60%;
    margin: 15px 0 0 0;
}

.menu-container.center {
    margin: 30px 0;
}

#live-chat {
    font-size: 20px;
    margin-top: 10px;
}

#help .menu-container a .image-container {
    width: 100px;
    height: 100px;
    line-height: 70px;
    margin: 0 auto 11px;
    background: #15b5eb;
    transition: all .5s
}

#plan p {
    color: #000 !important;
}

#help-title {
    font-size: 13px;
    margin: 0;
}